# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# http://www.gnu.org/software/libtool

/libtool
/ltmain.sh

# ignore data folder
data/model/
data/motion/
data/stage/
build/

# files generated during builds

*.la
*.lo
*.o
.deps/
.libs/
/pmx
Makefile
